# *****************必填******************
# application ID 每个应用程序的名称
# 每个应用程序可能有多个实例
# 必须要配置 不然无法区分应用实例
# application_id应该与配置中心的appId相同
# *****************必填******************
agent.application_id=garfield

# garfield-agent默认日志打印级别 默认为INFO
# 正式环境不要开启DEBUG 十分消耗性能
# DEBUG, INFO, WARN, ERROR, OFF
logging.level=DEBUG

# 默认不开启采样收集
# 如果此配置是负数 则不开启采样(也就是会尽可能多的收集Trace链路信息)
# 如果为正数  每三秒收集Trace的最大值
# agent.sample_n_per_3_secs=-1

# 每个TraceSegment默认允许最多Span数量
# agent.span_limit_per_segment=300

# 忽略以某些后缀名结尾的operation name 不做统计
# agent.ignore_suffix=.jpg,.jpeg,.js,.css,.png,.bmp,.gif,.ico,.mp3,.mp4,.html,.svg

# 是否开启调试class的信息
# agent.is_open_debugging_class=true

# garfield-agent打印日志文件名称 默认为garfield-agent.log
# logging.file_name=garfield-agent.log

# 日志文件默认分割大小（字节） 默认为300M
# logging.max_file_size=300 * 1024 * 1024

# 异步线程池DataCarrier(Trace的异步处理库)
# 如果监控的Trace过多 可适当调高这些数值
# buffer.channel_size=5
# buffer.buffer_size=300

# jvm启动后监控延迟多长时间（秒）默认为5秒
# jvm.initial_delay=5
# jvm监控间隔时间（时间） 默认为5秒
# jvm.period=5

# 如果Trace没有数据 线程睡眠时间 (毫秒)
# 如果数据不频繁可以适当提高默认为20毫秒
# trace.wait_time=20

# 日志的输出路径
logging.dir=/Users/lyl/Desktop/logs
